<div>
	<% if @name %>
    Hello <%= @name == "" ? "Player1" : @name %>
    <a href="/vscomputer">VS Computer</a>
  <% else %>
    What's your name?
    <form action="/newgame">
      <input type="text" name="name">
      <input type="submit" value="Submit">
    </form>
  <% end %>
</div>

