  <% if @location %>
    <%= session[:game].player_1.shoot @location.to_sym %>
  <% end %>
<div>
  <pre>
  <%= session[:game].opponent_board_view session[:game].player_1 %>
  </pre>
  Please select where to fire.
  <form action="/vscomputer" method="get">
    <input type="text" name="location">
    <input type="submit" value="Fire">
  </form>
</div>